body {
  background-size: cover;
  background-image: url("https://compote.slate.com/images/7a58bdb8-31f7-4b48-8350-2ad2f890451a.jpg");
  background-repeat: no-repeat;
}
h2 {
  text-align: center;
  color: #6e5e1a;
  font-family:sans-serif;
  width: auto;
  text-align: center;
  padding: 40% 20% 0% 20%;
}
